body {
  font-family: "Lato", "Arial", "Helvetica", sans-serif;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

/* ----- HEADER ----- */

.header {
  height: 63px;
  background-color: rgb(50, 50, 50);
  margin: 0 auto;
}

.header::before {
  content: "";
  display: block;
  width: 57.5%;
  height: 1px;
  background-color: rgb(228, 233, 235);
  position: absolute;
  top: 74px;
  left: 50%;
  transform: translateX(-50%);
}

.header::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 26px solid rgba(50, 50, 50);
  position: absolute;
  top: 63px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}

.header-menu {
  display: inline-flex;
  justify-content: center;
  padding-top: 5px;
}

.header-menu-ul {
  width: 365px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.visually-hidden {
  display: none;
}

.header-menu-a {
  font: 700 9px "Lato", "Arial", "Helvetica", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.header-menu-a:hover {
  color: rgb(46, 179, 152);
}

.header-logo {
  background: url(../img/logoTriangl.png) no-repeat;
  height: 55px;
  padding: 0 31px;
  margin-top: 4px;
}

/* ----- MAIN ----- */

/* SECTION "MAIN-PORTFOLIO" */

.hexagon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hexagon-row-four,
.hexagon-row-five {
  display: inline-flex;
}

.hexagon-row-four {
  margin-top: 80px;
  position: relative;
}

.hexagon-row-four:not(:first-child) {
  margin-top: -60px;
  margin-bottom: 43px;
}

.hexagon-row-four::before {
  content: "";
  width: 0;
  height: 104px;
  border-left: 1px solid rgb(228, 233, 235);
  position: absolute;
  top: 50%;
  left: -11px;
  transform: translateY(-50%);
}

.hexagon-row-four::after {
  content: "";
  width: 0;
  height: 104px;
  border-left: 1px solid rgb(228, 233, 235);
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translateY(-50%);
}

.hexagon-row-five {
  margin-top: -57px;
}

.hexagon {
  width: 180px;
  height: 206px;
  margin: 10px;
  transform: rotate(120deg);
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}

.hexagon-layer1 {
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  overflow: hidden;
}

.hexagon-layer2 {
  width: 100%;
  height: 100%;
  transform: rotate(300deg);
  overflow: hidden;
  visibility: visible;
}

.hexagon-img1 {
  background: url("../img/hex01.jpg") no-repeat -23px -12px;
}

.hexagon-img2 {
  background: url("../img/hex02.jpg") no-repeat -20px -9px;
}

.hexagon-img3 {
  background: url("../img/hex03.jpg") no-repeat -20px -7px;
}

.hexagon-img4 {
  background: url("../img/hex04.jpg") no-repeat -20px -18px;
}

.hexagon-img5 {
  background: url("../img/hex05.jpg") no-repeat -1px -3px;
}

.hexagon-img6 {
  background: url("../img/hex06.jpg") no-repeat -21px -15px;
}

.hexagon-img7 {
  background: url("../img/hex07.jpg") no-repeat -20px -9px;
}

.hexagon-img8 {
  background: url("../img/hex08.jpg") no-repeat -20px -10px;
}

.hexagon-img9 {
  background: url("../img/hex09.jpg") no-repeat -22px -13px;
}

.hexagon-img10 {
  background: url("../img/hex10.jpg") no-repeat -21px -6px;
}

.hexagon-img11 {
  background: url("../img/hex11.jpg") no-repeat -19px -6px;
}

.hexagon-img12 {
  background: url("../img/hex12.jpg") no-repeat -19px -5px;
}

.hexagon-img13 {
  background: url("../img/hex13.jpg") no-repeat -10px -6px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:nth-of-type(1):checked
  ~ .portfolio-slide-controls
  .portfolio-control:nth-of-type(1),
input[type="radio"]:nth-of-type(2):checked
  ~ .portfolio-slide-controls
  .portfolio-control:nth-of-type(2),
input[type="radio"]:nth-of-type(3):checked
  ~ .portfolio-slide-controls
  .portfolio-control:nth-of-type(3),
input[type="radio"]:nth-of-type(4):checked
  ~ .portfolio-slide-controls
  .portfolio-control:nth-of-type(4),
input[type="radio"]:nth-of-type(5):checked
  ~ .portfolio-slide-controls
  .portfolio-control:nth-of-type(5),
input[type="radio"]:nth-of-type(6):checked
  ~ .portfolio-slide-controls
  .portfolio-control:nth-of-type(6) {
  background-color: rgb(139, 135, 132);
}

.portfolio-slide-controls {
  display: inline-flex;
  width: 54px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 23px 27px;
}

.portfolio-control {
  width: 6px;
  height: 6px;
  margin-left: 3px;
  background-color: rgb(221, 210, 197);
  cursor: pointer;
  transition: 150ms ease-out;
}

.portfolio-control:hover {
  background-color: rgb(139, 135, 132);
}

/* SECTION "ABOUT-ME" */

.section-about-me {
  display: flex;
  justify-content: center;
  background-color: rgb(46, 179, 152);
  padding: 13px 0 12px 0;
}

.about-me {
  width: 820px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 45px;
  padding-bottom: 43px;
  border-left: 1px solid rgb(33, 157, 132);
  border-right: 1px solid rgb(33, 157, 132);
}

.about-me-logo {
  padding: 0 7px 0 12px;
}

.about-me-info {
  width: 581px;
}

.hexagon-LogoAboutMe {
  background: url("../img/LogoAboutMe.jpg") no-repeat center center;
}

.about-me-info-name {
  font: 400 30px "Maven Pro", "Arial", "Helvetica", sans-serif;
  color: rgb(215, 252, 245);
}

.about-me-info-prename {
  font: 400 18px "Maven Pro", "Arial", "Helvetica", sans-serif;
  color: rgb(32, 129, 109);
  padding-bottom: 13px;
}

.about-me-info-par {
  font: 400 12px/1.83 "Lato", "Arial", "Helvetica", sans-serif;
  color: rgb(215, 252, 245);
  text-align: justify;
  padding-bottom: 39px;
}

.about-me-socials-icon {
  display: flex;
  justify-content: flex-end;
  padding-right: 2px;
}

.socials-icon-span {
  width: 24px;
  height: 24px;
}

.fab {
  width: 24px;
  height: 24px;
  margin: 6px 7px;
  font-size: 13px;
  color: rgb(46, 179, 152);
  cursor: pointer;
}

.facebook,
.pinterest,
.linkedin {
  background-color: rgb(171, 220, 215);
}

.twitter,
.dribbble {
  background-color: rgb(108, 203, 190);
}

.google {
  background-color: rgb(126, 208, 197);
}

.fab:hover {
  color: rgb(32, 129, 109);
}

/* ----- FOOTER ----- */

/* SECTION "FOOTER-FORM" */

.section-footer-form {
  background-color: rgb(50, 50, 50);
  padding: 13px 0 11px 0;
}

.footer-form {
  border-top: 1px solid rgb(43, 43, 43);
  border-bottom: 1px solid rgb(43, 43, 43);
  padding-top: 45px;
  padding-left: 91px;
  padding-bottom: 52px;
  margin: 0 30px;
}

.form-wrapper {
  display: flex;
}

.footer-form-name {
  font: 400 30px "Maven Pro", "Arial", "Helvetica", sans-serif;
  color: rgb(224, 224, 224);
}

.footer-form-prename {
  font: 400 18px "Maven Pro", "Arial", "Helvetica", sans-serif;
  color: rgb(190, 190, 190);
  padding-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 580px;
}

.form-input {
  width: 565px;
  height: 38px;
  background-color: rgb(69, 69, 69);
  font: 400 12px/1.83 "Lato", "Arial", "Helvetica", sans-serif;
  color: rgb(190, 190, 190);
  padding: 0 0 0 15px;
  border: none;
  margin-bottom: 16px;
}

.form-input::-webkit-input-placeholder {
  color: rgb(190, 190, 190);
}

.form-input::-moz-placeholder {
  color: rgb(190, 190, 190);
}

.form-input:-moz-placeholder {
  color: rgb(190, 190, 190);
}

.form-input:-ms-input-placeholder {
  color: rgb(190, 190, 190);
}

.form-input-textarea {
  height: 150px;
  resize: none;
  overflow: auto;
}

.form-btn-send {
  width: 90px;
  height: 37px;
  background-color: rgb(46, 178, 151);
  font: 700 12px/1.83 "Lato", "Arial", "Helvetica", sans-serif;
  color: rgb(215, 252, 245);
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.contacts {
  padding-left: 20px;
}

.contacts-info {
  font: 400 12px/1.73 "Lato", "Arial", "Helvetica", sans-serif;
  color: rgb(190, 190, 190);
  text-align: justify;
  width: 180px;
  padding-bottom: 37px;
}

.contacts-info > span {
  font-weight: 700;
  color: rgb(224, 224, 224);
}

.contact-link {
  font: 700 12px/1.83 "Lato", "Arial", "Helvetica", sans-serif;
  text-align: justify;
  color: rgb(190, 190, 190);
}

.fas {
  color: rgb(46, 179, 152);
  padding-right: 14px;
}

.footer-copyright {
  background-color: rgb(34, 34, 34);
}

.footer-copyright-info {
  font: 400 12px "Maven Pro", "Arial", "Helvetica", sans-serif;
  color: rgb(69, 69, 69);
  padding: 13px 0 15px 39px;
}
